{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}|Accueil {% endblock %}

{% block body %}
{# {{ dump(articles) }} #}
{% for notification in app.flashes('success') %}
<div class="alert alert-success col-md-6 mx-auto text-center disparition">
    {{ notification }}
</div>
{% endfor %}
{# Notification : ajouté au panier #}
{# <div id="correct" class="row justify-content-center pt-4 light">
    <p class="rounded col-md-3 text-center px-5 py-2 bg bg-light"></p>
</div> #}

<div class="row p-3" id="info">
    {% if articles %}
    {% for item in articles %}
    {% set id = 'item.id' %}
    {% set url = path('detail_article', {'id': item.id}) %}
    <div class="card p-3 m-3 " onclick="ouvrirLien('{{ url }}')" style="width: 18rem">
        <img src="{{ asset('uploads/articles/'~item.photo ) }}" class="card-img-top" alt="...">
        <div class="card-body w-100">
            <h5 class="card-title">{{ item.titre }}</h5>
            {# <p class="card-text" style="height:2rem">{{ item.shortDescription }}</p>
            <p class="card-text pt-2">{{ item.prix }}€</p> #}
        </div>
    </div>
    <script>
        function ouvrirLien(url) {
            window.location.href = url;
        }
    </script>
    {% endfor %}


    {% else %}
    <p>Rien</p>
    {% endif %}

</div>



{% endblock %}