{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}|Accueil {% endblock %}

{% block body %}
{# {{ dump(articles) }} #}
{% for notification in app.flashes('success') %}
    <div class="alert alert-success col-md-6 mx-auto text-center disparition">
        {{ notification }}
    </div>
{% endfor %}
        <div id="correct"></div>
<div class="row p-3">
    {% if articles %}
    {% for item in articles %}
    <div class="card p-3 m-3" style="width: 18rem; height:30rem">
        <img src="{{ asset('uploads/articles/'~item.photo ) }}" class="card-img-top pic" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.titre }}</h5>
            <p class="card-text" style="height:2rem">{{ item.shortDescription }}</p>
            <p class="card-text pt-2">{{ item.prix }}€</p>
            <p><a href="{{ path('detail_article', { 'id' : item.id } ) }}" class="text-decoration-none">En savoir plus</a></p>
            {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
            {% else %}
            <a href="{{ path('post_cart', {'id' : item.id}) }}" class="btn btn-primary" id="ajoutPanier">Ajouter au panier</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}


    {% else %}
    <p>Rien</p>
    {% endif %}

</div>



{% endblock %}