{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}|A propos {% endblock %}

{% block body %}


<div class="row justify-content-center my-5">
    <div class="col-md-4 me-3">
        <h1 class="">Qui sommes nous ? </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae repellendus temporibus pariatur impedit
            reprehenderit possimus quaerat! Iusto, doloremque numquam aperiam unde ratione corporis veritatis ipsa
            eligendi eos beatae voluptatibus assumenda.
            Architecto tempora sunt cum. Quas numquam tenetur, aperiam voluptatum repudiandae animi blanditiis enim
            vitae mollitia dicta alias maiores quisquam perspiciatis, omnis officiis dolor voluptatem. Doloremque quo
            expedita cumque impedit magni?
            Blanditiis fugit labore fuga, ipsam est aliquam? Blanditiis exercitationem quam commodi expedita
            consequuntur accusantium quas a natus quisquam ad. Amet voluptatum fugit dolorum neque veniam minus sit
            adipisci, quo odit.</p>
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide col-md-6 mt-5 pt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1700">
                <img src="{{ asset('images/a.jpg') }}" class="d-block w-100" alt="articles">
            </div>
            <div class="carousel-item" data-bs-interval="1700">
                <img src="{{ asset('images/b.jpg') }}" class="d-block w-100" alt="articles">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/c.jpg') }}" class="d-block w-100" alt="articles">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

<div class="row justify-content-center my-5">

    <div>
        <img src="{{ asset('images/logo.png') }}" alt="logo" class="log">
    </div>
    <div class="col-md-4 ms-3 mb-5">
        <h2 class="">Nos valeurs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae repellendus temporibus pariatur impedit
            reprehenderit possimus quaerat! Iusto, doloremque numquam aperiam unde ratione corporis veritatis ipsa
            eligendi eos beatae voluptatibus assumenda.
            Architecto tempora sunt cum. Quas numquam tenetur, aperiam voluptatum repudiandae animi blanditiis enim
            vitae mollitia dicta alias maiores quisquam perspiciatis, omnis officiis dolor voluptatem.
        </p>
    </div>

</div>


<div class="row justify-content-center my-5">
    <div class="col-md-4 ms-3">
        <h1 class="">Ce qu'on vous offre </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae repellendus temporibus pariatur impedit
            reprehenderit possimus quaerat! Iusto, doloremque numquam aperiam unde ratione corporis veritatis ipsa
            eligendi eos beatae voluptatibus assumenda.
            Architecto tempora sunt cum. Quas numquam tenetur, aperiam voluptatum repudiandae animi blanditiis enim
            vitae mollitia dicta alias maiores quisquam perspiciatis, omnis officiis dolor voluptatem. Doloremque quo
            expedita cumque impedit magni?
            Blanditiis fugit labore fuga, ipsam est aliquam? Blanditiis exercitationem quam commodi expedita
            consequuntur accusantium quas a natus quisquam ad. Amet voluptatum fugit dolorum neque veniam minus sit
            adipisci, quo odit.</p>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide col-md-6 mt-5 pt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1700">
                <img src="{{ asset('images/c.jpg') }}" class="d-block w-100" alt="articles">
            </div>
            <div class="carousel-item" data-bs-interval="1700">
                <img src="{{ asset('images/a.jpg') }}" class="d-block w-100" alt="articles">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/b.jpg') }}" class="d-block w-100" alt="articles">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>


{% endblock body %}