{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center">Inscription</h1>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="row flex-column justify-content-center">
                    {{ form_start(registrationForm) }}
                <div>
                    {{ form_row(registrationForm.email) }}
                </div>
                <div>
                    {{ form_row(registrationForm.plainPassword, {label: 'Password' } ) }}
                </div>
                <div>
                    {{ form_row(registrationForm.nom) }}
                </div>
                <div>
                    {{ form_row(registrationForm.prenom) }}
                </div>
                <div>
                    {{ form_row(registrationForm.adresse) }}
                </div>
                <div>
                    {{ form_row(registrationForm.cp) }}
                </div>
                <div>
                    {{ form_row(registrationForm.tel) }}
                </div>
                <div>
                    {{ form_row(registrationForm.RGPDConsent) }}
                </div>
                <div>
                    {{ form_end(registrationForm) }}
                    <button type="submit" class="px-3 btn btn-outline-dark mb-4">S'inscrire</button>            
                </div>
                
            </div>
        </div>
    </div>



        

        



{% endblock %}
