{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}|Accueil {% endblock %}

{% block body %}
{# {{ dump(articles) }} #}
{% for notification in app.flashes('success') %}
<div class="alert alert-success col-md-6 mx-auto text-center disparition">
    {{ notification }}
</div>
{% endfor %}
<h1 class="text-center fs-3 my-5 an">Bienvenue chez MadaVente, faites-vous plaisir! </h1>
<div class="row p-3 justify-content-center" id="info">
    {% if categorie %}
    {% for item in categorie %}
    {% set id = 'item.id' %}
    {% set url = path('detail_article', {'id': item.id}) %}
    <div class="card p-3 m-3 stylecart" onclick="ouvrirLien('{{ url }}')" style="width: 18rem">
        <img src="{{ asset('uploads/articles/'~item.photo ) }}" class="card-img-top" alt="...">
        <div class="card-body w-100">
            <h5 class="card-title">{{ item.titre }}</h5>
            {% if item.stock < 1 %} <p class="text-danger text-end"> * Rupture de stock</p>{% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Rien</p>
    {% endif %}
</div>

{% endblock %}