{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}|Historique de commande{% endblock %}

{% block body %}
{#
<a href="" class="text-decoration-none" title="Supprimer l'article"
    onclick="return confirm('Êtes-vous sûr de vouloir annuler la commande ?')">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-trash3"
        viewBox="0 0 16 16">
        <path
            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
    </svg>
</a>
#}
<h1 class="py-4 text-center">Vos commandes</h1>
{% if commandes %}
{% for item1 in commandes %}
{% if item1.statut == "Payé" %}
{% for item2 in item1.commandeDetails %}
<div id="historiqueUser">
    <p class="pSp petitTexte "><strong>Commande N°: </strong>{{ item1.id}}</p>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <img src="{{ asset('uploads/articles/'~item2.articles.photo ) }}" id="petitimg" alt="image article">
            <div div="containerInfoHisto">
                <p id="tex">{{ item2.articles.titre }}</p>
                <p class="pSp"><strong>Prix Unitaire: </strong>{{ item2.articles.prix}}€</p>
                <p class="pSp"><strong>Prix Total: </strong>{{ item1.total}}€</p>
                <p class="pSp"><strong>Quantité: </strong>{{ item2.quantity}} </p>
                <p class="pSp petitTexte">Commandé le {{item1.createdAt | date('d:m:Y') }} à {{item1.createdAt |
                    date('H:i:s') }} </p>
            </div>
        </div>
        <a href="{#{{ path('delete_commande', {'id' : item1.id}) }}#}" id="annule" class="text-decoration-none align-self-end"
            onclick="return confirm('Êtes-vous sûr de vouloir annuler la commande ?')">Annuler la commande</a>

    </div>
    <div class="traits"></div> <!-- Trait de séparation-->
</div><!-- Fin container historiqueUser -->
{% endfor %}
{% endif %}
{% endfor %}
{% else %}
<h1 class="text-center fs-3 my-5">Aucune commande pour l'instant</h1>
{% endif %}



{% endblock body %}