{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}|Commandes détaillées{% endblock %}

{% block body %}

{% for notification in app.flashes('success') %}
<div class="alert alert-success col-md-6 mx-auto text-center disparition">
    {{ notification }}
</div>
{% endfor %}
<a href="{{ path('list_commande_user') }}" title="Retour à la liste" class="fs-3 text-decoration-none text-dark">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-chevron-double-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        <path fill-rule="evenodd"
            d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
    Retour
</a>
<h1 class="py-4 text-center">Commande n° {{ commande.id }}</h1>
<p class="pSp petitTexte text-center">du {{commande.createdAt | date('d:m:Y') }} à {{commande.createdAt |
    date('H:i:s') }} </p>
<p class="pSp text-center"><strong>Prix Total: </strong>{{ commande.total}}€</p>

{% for commandeDetail in commande.commandeDetails %}
<div id="historiqueUser">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <img src="{{ asset('uploads/articles/'~ commandeDetail.articles.photo ) }}" id="petitimg"
                alt="image article">
            <div div="containerInfoHisto">
                <p id="tex">{{ commandeDetail.articles.titre }}</p>
                <p class="pSp"><strong>Prix Unitaire: </strong>{{ commandeDetail.articles.prix}}€</p>
                <p class="pSp"><strong>Quantité: </strong>{{ commandeDetail.quantity}} </p>
            </div>
        </div>
        {# <a href="{{ path('delete_order', {'id' : item1.id}) }}" id="annule"
            class="text-decoration-none align-self-end"
            onclick="return confirm('Êtes-vous sûr de vouloir annuler la commande ?')">Annuler la commande</a> #}

    </div>
    <div class="traits"></div> <!-- Trait de séparation-->

</div><!-- Fin container historiqueUser -->
{% endfor %}

{% endblock body %}