{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    {{ dump(historique) }}
    {# {{ dump(historique.0) }} #}
    {# {% for historique in historique %}
        {{ historique.statut }}
    {% endfor %} #}

    {% if historique %}
    <div class="table-responsive">
        <table class="table table-bordered border border-dark text-center tableau" id="responsive-table">
            <thead>
                <tr>
                    <th scope="col">Numéro de commande</th>
                    <th scope="col">IdUser</th>
                    <th scope="col">IdArticle</th>
                    <th scope="col">statut</th>
                    <th scope="col">DateCréation</th> 
                </tr>
            </thead>
            <tbody>
                {% for item in historique %}
                <tr>
                    <th scope="row"> {{item.id}} </th>
                    <th> {{item.user.id}} <br> {{item.user.email}}  </th>
                    <td> article {# {{item.article}} #} </td>
                    <td> {{item.statut}} </td>
                    <td> {{item.createdAt | date('d:m:Y') }} </td> 
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% else %}
    <p>Aucune commande</p>
    {% endif %}



{% endblock %}
