{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}|Historique de commande{% endblock %}

{% block body %}


{% for notification in app.flashes('success') %}
<div class="alert alert-success col-md-6 mx-auto text-center disparition">
    {{ notification }}
</div>
{% endfor %}
{% if commandes %}
<h1 class="fs-4 my-4 text-center">Liste de commande</h1>
<div class="table-responsive">
    <table class="table table-bordered border border-dark text-center tableau" id="responsive-table">
        <thead>
            <tr>
                <th class="bg-dark text-white" scope="col">N° Commande</th>
                <th class="bg-dark text-white" scope="col">Statut</th>
                <th class="bg-dark text-white" scope="col">Date</th>
                <th class="bg-dark text-white" scope="col">Total</th>
                <th class="bg-dark text-white" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item1 in commandes %}
            {% for item2 in item1.commandeDetails %}
            {% if item1.statut != "Annulé" %}

            <tr>
                <th scope="row">{{item1.id}}</th>
                <td> {{item1.statut}} </td>
                <th> {{item1.createdAt | date('d:m:Y H:i:s') }}</th>
                <td> {{item1.total}} €</td>
                <td>
                    {# Annuler la commande #}
                    <a href="{{ path('remove_commande_user', { 'token' : item1.token  } )}}"
                        class="text-decoration-none mx-2" title="Annuler la commande"
                        onclick="return confirm('Êtes-vous sûr de vouloir annuler la commande ?')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-trash3"
                            viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                    </a>
                    {# Voir le détail de la commande #}
                    <a href="{{ path('detail_historique_commande_user', {'id': item1.id})}}" class="text-decoration-none mx-2"
                        title="Voir le détail">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-eye"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                            <path
                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                        </svg>
                    </a>
                </td>
            </tr>
            {% else %}
            {% endif %}
            {% endfor %}
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<h2 class="text-center fs-3 my-5">Aucune commande pour l'instant</h2>
{% endif %}

{% endblock body %}