{% extends "base.html.twig" %}

{% block title %}

{% endblock title %}

{% block body %}
{# {{ dump(article) }} #}
<div class="row">
    <div class="col-md-5 py-3">
        <img src="{{ asset('uploads/articles/'~article.photo ) }}" alt="image article" class="imgDetail">
    </div>
    <div class="col-md-5">
        <h1 class="pt-3">{{ article.titre }}</h1>
        <div class="mt-3  d-flex flex-column">
            <p class="fs-4  descri">{{ article.description }}</p>
            <p class="fs-5 mb-1"> <strong> prix : </strong>{{ article.prix }} € </p>
            <p class="card-text"><small class="text-muted">Catégorie: {{ article.idCategorie.nom}}</small></p>
            {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
            {% else %}
            <div class="d-flex flex-row-reverse pb-5">
                <a class="btn btn-outline-dark flex-end mb-5" href="{{ path('post_cart', {'id' : article.id}) }}" confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')>Ajouter
                    au
                    panier</a>
            </div>
            {% endif %}
            <div class="d-flex flex-row-reverse">
                <a class="d-flex flex-end text-decoration-none mt-5 mb-2" href="{{ path('home') }}">Retour à l'accueil</a>
            </div>
                
        </div>
    </div>
</div>

{% endblock body %}