{% extends "base.html.twig" %}

{% block title %}

{% endblock title %}

{% block body %}
{# {{ dump(article) }} #}
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <img src="{{ asset('uploads/articles/'~article.photo ) }}" alt="image article" class="imgDetail">
    </div>
    <div class="col-md-4 box">
        <div>
            <h1 class="pt-3">{{ article.titre }}</h1>
            <div class="mt-3  d-flex flex-column">
                <p class="fs-4  descri">{{ article.description }}</p>
                <p class="fs-5 mb-1"> <strong> prix : </strong>{{ article.prix }} € </p>
                <p class="card-text"><small class="text-muted">Catégorie: {{ article.idCategorie.nom}}</small></p>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                {% elseif article.stock < 1 %} <p class="text-danger text-end">Article disponible plutard</p>
                    {% else %}
                    <div class="d-flex flex-row-reverse pb-5">
                        <a class="btn btn-outline-dark flex-end mb-5"
                            href="{{ path('post_cart', {'id' : article.id}) }}">Ajouter au panier</a>
                    </div>
                    {% endif %}
                    <div class="d-flex flex-row-reverse">
                        <a class="d-flex flex-end text-decoration-none mt-5 mb-2" href="{{ path('home') }}">Retour à
                            l'accueil</a>
                    </div>
            </div>
        </div>
    </div>
</div>

{# <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div> #}

{% endblock body %}