{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<div class="row justify-content-center pt-5">
<div class="col-md-4">
    <h2>Ajouter une catégorie</h2>
    {{ form_start(formCat) }}
        {{ form_row(formCat.nom) }}
    <input type="submit" class="btn btn-success mt-3 col-md-6" value="Ajouter">

    {{ form_end(formCat) }}
</div>
<div class="col-md-4">
    <h2>Toutes les catégories</h2>
    {% if categorie %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Catégorie</th>
          </tr>
        </thead>
        <tbody>
            {% for item in categorie %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.nom }}</td>
          </tr>                
            {% endfor %}

        </tbody>
      </table>
      {% else %}
      <p class="text-danger">Aucune Catégorie</p>
      {% endif %}
</div>

</div>



{% endblock %}
